.gridDiv {
  display: grid;
  grid-template-columns: 40% auto;
  padding: 5%;
}

.container {
  margin-left: 8%;
}

.estimateContainer {
  margin: 2% 10% 45% 10%;
}

.image {
  width: 200px;
  height: 200px;
  margin-left: 25%;
}


@media screen and (max-width: 800px) {
  .gridDiv { 
    grid-template-columns: 100%;
    justify-items: center;
  }

  .container {
    margin-left: 0;
    text-align: center;
  }

  .image {
    margin: 0;
  }

  .estimateContainer {
    margin: 2% 10% 40% 10%;
  }

}