.container {
  padding: 5%;
  border-radius: 10px;
  color: var(--font-color-one);
  box-shadow: var(--shadow);

}

.estimateTitle {
  color: var(--font-color-one);
  font-size: 1.6rem;
}

.input {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 0.9rem;
  width: 100%;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  .container {
    margin: 5%;
  }
}
