
.mainImage {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.bannerDiv {
  position: relative;
}

.bannerMsgDiv {
  position: absolute;
  background-color: white;
  padding: 2% 20%;
  text-align: center;
  top: 30%;
  width: 100%;
  box-shadow: var(--shadow);
}

.estimateBtn {
  font-size: 1.3rem;
}

.ourProjDiv {
  margin-top: 7%;
  padding: 0 10%;
}

.projectGrid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1%;
}

.projectGrid div {
  padding: 1rem;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImages {
  height: 300px;
  flex-basis: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  box-shadow: var(--shadow);
}

.projectImages:hover {
  opacity: 0.4;
}

.proTitle {
  display: none;
}

.projectImages:hover .proTitle {
  display: block;
  font-size: 1.5rem;
  padding: 2% 5%;
  background-color: white;
  text-align: center;
}

.estimateDiv {
  margin: 10% 10% 40% 10%;
}

@media screen and (max-width: 990px) {
  .projectGrid {
    grid-template-columns: 50% 50%;
    gap: 2%;
  }

  .projectImages {
    height: 200px;
  }
  .projectImages {
    flex-basis: 600px;
  }
}

@media screen and (max-width: 700px) {
  .projectGrid {
    grid-template-columns: 100%;
    justify-content: center;
  }
  .projectImages {
    height: 400px;
  }
}


