.menuIcon {
  display: block;
  margin: 2% 3%;
}

.menuLine {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.menuIcon:hover {
  cursor: pointer;
}

.ul {
  display: none;
}

.li {
  margin-bottom: 3%;
}

.menu {
  display: none;
}

.menu:checked + .ul {
  display: block;
  margin: 8% 3%;
}

@media screen and (min-width: 990px) {

  .menuIcon {
    display: none;
  }
  
  .ul {
    margin: 3% 4%;
    display: flex;
  }
  
  .li {
    margin-right: 2%;
    display: flex;
  }
  
  .a {
    font-size: 1.2rem;
  }
  
}