.menuIcon {
  display: block;
  padding: 2% 3%;
}

.nav {
  border-bottom: 2px solid var(--color-blue);
}

.menuLine {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--color-black);
}

.menuIcon:hover {
  cursor: pointer;
}

.ul {
  display: none;
}

.li {
  padding: 3%;
}

.li:hover {
  background-color: var(--color-blue);
  color: var(--font-color-white);
}
.menu {
  display: none;
}

.menu:checked ~ .ul {
  display: block;
}

.menu:checked + .menuIcon .menuLine:nth-child(2) {
  display: none;
}

.menu:checked + .menuIcon .menuLine:nth-child(1) {
  transition-timing-function: ease-out;
  transition: 1s all;
  transform: rotate(50deg);
  transform-origin: 35% 103%;
  margin: 0;
}

.menu:checked + .menuIcon .menuLine:nth-child(3) {
  transform: rotate(-50deg);
  margin: 0;
}

@media screen and (min-width: 990px) {

  .menuIcon {
    display: none;
  }

  .ul {
    display: block;
  }
  
  .li {
    margin-right: 2%;
    display: inline-flex;
    padding: 1%;
    margin: 2% 3%;
  }
  
  .li:hover {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--font-color-black);
    padding-bottom: 5px;
    color: var(--font-color-black)
  }
}