.prjContainer {
  margin: 10% 10% 30% 10%;
}

.projTitle {
  text-align: left;
  font-size: 1.5rem;
}

.projImg {
  border-radius: 10px;
}

.subTitle {
  font-size: 1.2rem;
}

.commentSection {
  text-align: left;
  margin-bottom: 10%;
}

@media screen and (max-width: 750px) {

  .prjContainer {
    margin: 10% 10% 50% 10%;
  }

}